@font-face {
    font-family: 'WH Hoxton';
    src: url('WHHoxton-Regular.woff2') format('woff2'),
        url('WHHoxton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

